.header {
    padding-left: 3rem;
    position: -webkit-sticky;
    position: sticky;
    height: 3rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 6rem;
    justify-content: space-between;
    border-radius: 25px;
    color: #EEEEEE;
    &-logo {
      height: 3rem;
      width: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 3rem;
      font-family: 'Lobster', cursive;
      font-size: 2rem;
    }
    &-routes-container {
      display: flex;
      margin-right: 4rem;
      gap: 3rem;
      font-size: 1rem;
      font-family:Arial, Helvetica, sans-serif;
    }
    a:hover{
      color: #00ADB5;
      cursor: pointer;
    }
  }
  